---
import Path from '../components/path.astro'
import Vision from '../components/vision.astro'
import Audit from '../components/audit.astro'
import MainLayout from '../layouts/main.astro'
---

<MainLayout>
	<section class="flex flex-col items-center justify-center">
		<h1 class="mt-28 text-center">How to use this guide</h1>
		<div class="mt-10">
			<p class="">
				Foremost, <strong>this is a practical guide.</strong> Knowledge is useless without application.
				Grab a notebook and pen, or open your favourite note-taking software. You will use it extensively.
				The guide consists of 3 parts: <strong>audit, vision, and path.</strong> Each part includes practices
				to be done. These practices are mostly about reflection and deep thinking and may require some
				time to work through. Don’t rush yourself. Take your time to complete them all. You may find
				answers to some questions in minutes, for others — in days. And that’s fine.
			</p>
			<p class="">
				In the <strong>audit section,</strong> there will be reflections about your current situation
				in life. This is the starting point. You will go through a life, work, and energy audit, ask
				people how they treat you, and also reflect on how you treat yourself. The main goal of this
				section is
				<strong>to write an honest blueprint of your current life.</strong>
			</p>
			<p class="">
				The <strong>vision section</strong> is all about the future. It’s imagination and dreaming about
				how your ideal life will look like. It includes practices like how you want to live, how you
				do NOT want to live, your ideal day/week/year, role models, and others. The goal for this section
				is to <strong>create your vision for the future, your dream life, your North Star.</strong>
			</p>
			<p class="">
				Knowing where you are and where you want to be is not enough. You should somehow bridge the
				gap between these two. The <strong>path section</strong> does exactly this. Long-term goals require
				more than just pure motivation. In this section, I’ll show you how <strong
					>to build a simple system
				</strong>to obtain and maintain the necessary skills to achieve your life's craziest goals.
			</p>
		</div>
		<Audit />
		<Vision />
		<Path />
		<div class="mt-10 mb-20 flex flex-col" id="conclusion">
<h2 class="flex self-center">TL;DR. Conclusion</h2>
					<div class="mt-10">
<p>To build your dream life you need to know: <strong>where you are now </strong>(point A), <strong>where you are want to be </strong>(point B) and <strong>how to go from A to B.</strong></p> 
				<ul class="mt-4">
                <li>1. <strong>Make a full audit of your life. </strong>Create a snapshot where you are now.</li>
                <li>2. <strong>Build vision for the future. </strong>Dream life you want to live after 10 years from now.</li>
                <li>3. <strong>Break it down to manageable chunks </strong>(5y, 1y, 6m) and what you need to achieve in these periods.</li>
                <li>4. <strong>Break down dreamed life into categories to improve.</strong></li>
                <li>5. <strong>Define key skills for success </strong>in each category.</li>
                <li>6. <strong>Make 1–3 habits </strong>which allow you to obtain those skills.</li>
                <li>7. <strong>Integrate habits into routine until they become your lifestyle.</strong></li>
                <li>8. Keep grand vision on eye. <strong>Improve and adjust skills and needs.</strong></li>
                <li>9. <strong>Be patient. </strong>Great things take time. This is a lifelong journey.</li>
            </ul>
			</div>
		</div>
	</section>
</MainLayout>
