<h2 id="audit" class="mt-16">Audit</h2>
<h3 id="life-audit" class="mb-6 mt-8">Life audit</h3>
<div class="">
	<p>
		This is the most important part of the audit section. Grab a pen and paper and draw a circle.
	</p>
	<p>
		It will be the wheel of life. Divide it into 3 sections: <strong
			>work, relationships, and health.</strong
		>
		And then, each of them again by 3.
	</p>
	<ul class="mt-4">
		<li>1. For work: <strong>growth, money, mission.</strong></li>
		<li>2. For relationships: <strong>romance, family, friends.</strong></li>
		<li>3. For health: <strong>body, mind, soul.</strong></li>
	</ul>
	<p>
		As a separate section, you can add joy. <strong>Score each section from 0 to 10 </strong>with
		your satisfaction. Don’t be too strict with yourself, be realistic. Think about each mark. What
		does it mean to you? Why did you score it that way?
	</p>
	<p>
		Make an overview of your circle and find your red zones, where the numbers are too low. These
		are the points to pay more first. For example, if your work brings you a lot of money but
		doesn’t provide room for growth, the chance is high that you will experience burnout sooner or
		later. The same goes for health. The body and mind are tightly coupled, not enough physical
		activity can affect your mood.
	</p>

	<p>
		This circle is a raw example, you can play around with it however you want. Create additional
		sections or remove a few, expand or shrink it. You get the idea. <strong
			>Just create a wheel of where your life is now.</strong
		> The more detailed it is, the greater the chance you will find the root of your dissatisfaction.
	</p>
</div>
<h3 id="work-audit" class="mb-6 mt-8">Work audit</h3>
<div class="">
	<p>
		Studies show that <strong>most people don’t like their job,</strong> yet they spend 1/3 of their
		life on it because bills need to be paid. The classic social scheme of 9-5 turns us into replaceable
		pieces needed to keep the big machine running.
	</p>

	<p>
		There's nothing wrong with this if you enjoy what you do. <strong>But do you enjoy?</strong>
	</p>

	<p>
		To answer this question, analyse your work section. <strong
			>What do you love about your work?
		</strong>What brings you joy? When do you experience flow, where time flies by? What gives you
		fulfillment?
	</p>

	<p>
		On the other hand, do you find yourself hating your job most of the time? Write down why.
		<strong>What drains you? </strong>Do you feel like you are wasting your time? Or is it just some
		particular part of your work that you dislike, while in general, it's good?
	</p>

	<p>
		You dedicate most of the time on weekdays to work, especially if with strict working schedule
		and hours of commuting. <strong>Do you truly enjoy it?</strong>
	</p>
</div>
<h3 id="energy-audit" class="mb-6 mt-8">Energy audit</h3>
<div class="">
	<p>
		Humans have batteries. Like a machines, we need energy to perform different tasks. But instead
		of connecting to an outlet or accumulator, we have biological power supplies. Every day, <strong
			>we spend energy and recharge it.
		</strong>The way you do this directly impacts your life.
	</p>

	<p>
		Start paying closer attention to <strong>how you spend your energy.</strong> What kind of tasks completely
		drain you? It shouldn't just be a hard CrossFit program; it may be a conversation with a difficult
		colleague or a boring meeting. Sometimes, <strong
			>mental exercises consume more energy than physical ones.
		</strong>In the meantime, a good workout can boost your energy and charge you for the entire
		day.
	</p>

	<p>
		For two weeks, <strong>analyze what requires you and what gives you energy.</strong> Do you feel
		fresh in the morning? Are you getting enough sleep? Does the food you eat fuel you or make you sleepy?
		When do you feel exhausted? When do you feel more powerful than ever?
	</p>
</div>
<h3 id="honest-people" class="mb-6 mt-8">Ask hones people</h3>
<div class="">
	<p>
		<strong>We all play social roles. </strong>It’s like a character in a game. Everyone begins with
		a unique predefined configuration and then starts to gain experience. Each path is unique,
		experiences are different, and the pace varies, but <strong
			>we are all building a character to play the game of society.</strong
		>
	</p>

	<p>
		When we meet a new character in this game, our brain quickly tries to figure out its avatar,
		recognize behavioral patterns, view it through our perception, judge, and label it. This is the
		default behavior. <strong>Our brain tries to minimize the thinking process</strong> (because it’s
		very energy-consuming) and <strong>put labels everywhere.</strong> I’m not saying this is good or
		bad; this is just how it works. Rest assured, you also have social labels, and if you are lucky enough
		to have honest people in your close circle, <strong>you can ask them about those labels.</strong
		>
	</p>

	<p>
		<strong>This is how society perceives you.</strong> Be prepared; this character may be different
		from what you imagined about yoursefl. But this is exactly what you need. <strong
			>You can see yourself from a perspective you never considered.</strong
		> Ask as many people as you can questions like your positive sides and negative sides, what you have
		that can inspire others, and what’s disappointing.
	</p>

	<p>
		<strong>Do not discuss with them! </strong>Just write down the answers and ask more questions. <strong
			>Allow your friends to be honest with you.</strong
		> For an easy start, you can ask about three characteristics or virtues that describe you best. This
		is essential. This is where you put most of your XP points into your character. Again, the feedback
		can be good or bad, but it shows how you've leveled your character.
	</p>

	<p>
		Gather all the information and reflect on it. <strong
			>Do your expectations of yourself match how people perceive you?
		</strong>If yes, great, you’re honest with yourself. If not, well, that’s okay too. Remember,
		life is a game, and this is how you play it. It’s crucial to ask honest people. Make them aware
		of your intentions; this can increase the chance of receiving genuine data. Keep it, you’ll need
		it in the future.
	</p>
</div>
<h3 id="trustful-things" class="mb-6 mt-8">10 truthful things about you</h3>
<div class="">
	<p>
		People know you well, <strong>but you know yourself better. </strong>We have at least 3
		subpersonalities:
	</p>

	<ul class="mt-4">
		<li><strong>1. For strangers</strong></li>
		<li><strong>2. For friends and relatives</strong></li>
		<li><strong>3. True you</strong></li>
	</ul>

	<p>You have those 3 simultaneously and switch them depending on the situation. Let me explain:</p>

	<p>
		<strong>Avatar for strangers.</strong> This is your public interface to interact with the unknown.
		With people and environments you are not familiar yet. <strong
			>Strictest, most withdrawn, official
		</strong>I’d say. This is where you want to show all your best sides and hide all negative ones.
		Greeted by clothes. The first impression matters in our society game. That’s why you try
		(consciously or unconsciously) to be the best version of yourself. <strong
			>This is how most of the people know you.</strong
		>
	</p>

	<p>
		<strong>For friends.</strong> With building trust and gathering more information about people, you
		start to be more relaxed and have less control over your emotions and behavior. Your true nature
		takes more play. <strong
			>This is where you still keep boundaries but they are much looser than in your public
			interface.
		</strong>People in this circle know your preferences, style, mood and habits. You share more
		personal information, thoughts and feelings. Share a piece of true you.
	</p>

	<p>
		<strong>True you.</strong> This is what nobody knows about you. This is how you behave when no one
		sees you. This is your thoughts, for that, you are scared to be judged even in your closest circle.
		<strong>Your doubts, beliefs, fears, dreams, judgments, labels, idols. </strong>How you sit,
		eat, drink if nobody sees you. This is a very private avatar. Someone can share it more, someone
		less, but we all have skulls on a shelf. You are blessed, if you can share piece of true you
		with someone and not be judged. Take care of this person.
	</p>

	<p>
		Write down <strong>10 things that define your true avatar.</strong> Nobody is forcing you to share
		this information, just be honest. Start with your virtues. What are you proud of? What do you do
		well? How do you treat yourself? Then, touch on a few downsides. <strong
			>If you are honest enough, in this step you can find a lot of answers to your questions.</strong
		> They are inside you, listen to them. Write inspirational stories, your wins and achievements, what
		you do well and what you can even teach others. Include your passions and topics you can talk about
		for hours. But also include topics you are ashamed of, things that even scare you. Write them down
		and reflect a little bit.
	</p>
</div>
