<header class="flex items-center justify-center">
	<nav class="flex cursor-pointer columns-2 gap-5 py-8">
		<a href="/" class="nav">Home</a>
		<a href="/guide" class="nav">Guide</a>
	</nav>
</header>
