<h2 id="path" class="mt-16">Path</h2>
<h3 id="categories" class="mb-6 mt-8">Define categories to improve</h3>
<div class="">
	<p>
		<strong>When you’re writing about your dream life, the aim is to let your thoughts flow.</strong
		> This is not about structure, a systematic or pragmatic approach. Your ideas can be messy, you might
		forget something, then add it in the middle of another thought and it’s totally fine. Once you finish
		your own blueprint of an ideal life,<strong> reread it and define categories. </strong>Something
		like work, health, relationships, spirituality, lifestyle, character, and so on.
	</p>
	<p><strong>For vision, you need to dream. For implementation, you need execution.</strong></p>
	<p>
		It requires structure and actions. <strong>Write all categories and points </strong>related to
		it on new pages. Create a list with short and understandable points.
	</p>
	<p>Take work as example:</p>
	<ul class="mt-4">
		<li>1. Quit 9-5</li>
		<li>2. Work approximately 2-4 hours a day</li>
		<li>3. Make money online</li>
		<li>4. Run profitable businesses</li>
	</ul>
	<p>
		You will check it from time to time to make sure you follow your North Star and adjust if the
		wind changes. Make it clear. If a dedicated point is too complex, explain it on another page,
		but <strong>keep the main list short. </strong>It’s necessary.
	</p>
	<p>
		This will be your <strong>to-do list for 10 years. </strong>Not for tomorrow, not for this week,
		not even for months, but for years. Do not push yourself to start them all at once, it’s too
		difficult a task for your brain, it will procrastinate and give up next week. I’ll tell you how
		to avoid this soon.
	</p>
	<p>
		For now, <strong>all you need is a categorized plan.</strong> Just let it be. Take a breath. Don’t
		rush yourself. <strong>Great things take time.</strong>
	</p>
</div>
<h3 id="roadmap" class="mb-6 mt-8">Create roadmap from now to 10y (5y, 1y, 1m)</h3>
<div class="">
	<p>
		So, you have a grand plan for the next 10 years of your life. You've broken it down into
		categories and created a list detailing what each category includes and what it looks like. This
		list is probably filled with very ambitious points. I hope it is. Otherwise, your life is
		already close to ideal. What next?
	</p>
	<p>
		<strong>It's time to break down your lifespan. </strong>A 10-year plan with a huge list can be
		overwhelming for the brain and a surefire way to procrastinate. You need to break it down into
		manageable parts to tackle in dedicated time. But we'll talk about that later. For now, you need
		to create a system. <strong>Start by working backward from 10 years to today.</strong>
	</p>
	<p>
		Think about how your life should looks like <strong>in 5 years </strong>to achieve all your
		10-year goals.
	</p>
	<p>What about <strong>1 year from now?</strong></p>
	<p><strong>Six months?</strong></p>
	<p><strong>Month?</strong></p>
	<p>
		<strong>You need a clear path to follow to make your dream life a reality. </strong>Your brain
		needs to see the plan and roadmap to avoid fear and procrastination. Let's go back to the
		example of work.
	</p>
	<p>If you want to achieve the following <strong>in 10 years:</strong></p>
	<ul class="mt-4">
		<li>1. <strong>Quit your 9-5 job</strong></li>
		<li>2. <strong>Work approximately 2-4 hours a day</strong></li>
		<li>3. <strong>Make money online</strong></li>
		<li>4. <strong>Running profitable businesses</strong></li>
	</ul>
	<p><strong>In 5 years, </strong>you should aim to have:</p>
	<ul class="mt-4">
		<li>1. <strong>Developed skills and experience </strong>in an online profession</li>
		<li>
			2. <strong> Bootstrapped a few businesses </strong>(it's good if they succeed, even better if
			they fail because you'll learn along the way)
		</li>
		<li>3. <strong>Experience with outsourcing and delegating </strong>tasks</li>
		<li>4. <strong>Multiple sources of income </strong>besides your main job</li>
	</ul>
	<p>
		As you can see, in 5 years, you should have a strong foundation and real experience in the life
		you envision. It's not just about theory; <strong
			>you need to validate your dream to see if it's really what you want.
		</strong>You may not enjoy running a business, as it's not for everyone, but you'll never know
		until you try.
	</p><p>
		<strong>Try, fail, learn, repeat until you find what works for you. </strong>It may be
		completely different from what you initially wrote on paper.
	</p>
	<p>Similarly, <strong>for 1 year:</strong></p>
	<ul class="mt-4">
		<li>
			1. <strong>Try out various online professions and tools </strong>to determine what suits you
			best
		</li>
		<li>
			2. <strong>Develop a strong knowledge base on how businesses operate </strong>by applying your
			knowledge through project building
		</li>
		<li>3. <strong>Master focus </strong>and eliminate unnecessary tasks or automate them</li>
		<li>
			4. Explore all options for <strong>making money online and try the ones you like</strong>
		</li>
	</ul>
	<p>
		You need to know the pathway to the peak of the mountain to be on it, not just see it on the
		horizon. Create a map of your dream life.
	</p>
</div>
<h3 id="skills" class="mb-6 mt-8">
	Define key skills, that lead to the desired result in each category
</h3>
<div class="">
	<p>
		<strong>You need the right tools for the job, and you need the right skills to succeed.</strong>
	</p>
	<p>
		You have structured your life vision into categories spread out over 5 years, 1 year, and 6
		months. The next thing to do is <strong
			>find the key skill or combination of skills that will allow you to succeed in each category
		</strong>(work, health, relationships, etc.). You may not know exactly what you will need for an
		occupation you have never tried, and that's okay. You don't need to describe it in detail, just
		the main skills for each category. If the idea is unfamiliar to you, Google it.
	</p>
	<p>
		Let's go back to our work example and choose the category of remote jobs. Making money online
		requires dedicated skills. There are dozens of ways to do this, so pick one that you like the
		most. It should be profitable but also interesting to you. Take web development as an example.
		It is the ultimate skill that gives you a sea of opportunities: freelancing, building your own
		projects and products, collaborating with others as a co-founder, or doing an engineering job in
		the field. If you don't like coding, another way is to use no-code tools like Framer or Webflow.
		They allow you to do almost the same thing but with a different approach. They are more suitable
		for those who are familiar with design tools.
	</p>
	<p>
		The key point here is <strong>don’t pick skill you will suffer from. </strong>Even if it’s the
		best and ultimate skill in the world, it will not be sustainable without satisfaction. How to
		check it? Just try. Few weeks and even basic free tutorials are enough to understand how it
		works and what you will do on daily basis. <strong
			>If it is yours — continue in-depth, if not — drop it
		</strong>and try another until you find that suites best.
	</p>
	<p>
		Doing this exercise, <strong>take for reference your nearest defined milestone </strong>like 1
		year or 6 months and focus on skills you need to achieve that step. Do not pick skills from 10
		years plan. It’s too far. In that case you will need hundreds of skills for tomorrow. Follow the
		plan you created in the previous step, but keep a grand vision on your eyes to know where you
		are going. Goal here is <strong
			>to define few important and only necessary skills.
		</strong>Depending on your focus in life,
		<strong>choose no more than 2 in each category. </strong>Ideally only one. Remember, your brain
		doesn’t like to be overwhelmed and for sure will procrastinate if you will take a lot at once.
	</p>
</div>
<h3 id="habits" class="mb-6 mt-8">Build 2–4 habits to obtain the necessary skills</h3>
<div class="">
	<p>
		At this moment, <strong
			>you have a plan, categories, and key skills that allow you to succeed in each category.
		</strong>Now, you should find a way to accomplish necessary skills without burning out. How can
		you do this? <strong>Build tiny habits.</strong>
	</p>
	<p>
		Take each skill, put it under a microscope, figure out what you need to do to build it, and
		<strong>create 2-3 habits based on it.</strong>
	</p>
	<p>
		For example, you want to be a web developer. This allows you to work online, be a freelancer,
		and live wherever you want.
	</p>
	<p>
		First, take a closer look at this profession, watch a few videos, tutorials, install some IDE,
		and follow along with an instructor. At this step, avoid videos like “My day in the life of a
		software engineer.” They are far from reality and can create a wrong impression about the
		profession. <strong>Just try to code and see if you like it. </strong>The next step is to ask
		someone who already has the desired skills how they would achieve it again if they had to start
		over. Capture the key points and create a basic roadmap.
	</p>
	<p>For coding, it will look like this:</p>
	<ul>
		<li>1. Learn the basics of how a computer works</li>
		<li>2. Choose a programming language</li>
		<li>3. Learn syntax</li>
		<li>4. Code</li>
		<li>5. Code</li>
		<li>6. Code and code</li>
		<li>7. Basic patterns and structures</li>
	</ul>
	<p>
		Learning how to code is pretty simple. You just need to code more. The same goes for writing;
		you just need to write. Don’t overcomplicate things. <strong
			>Just start doing and adjust your plan along the way.
		</strong>Practice in skill acquisition is crucial. Don’t get stuck on mastering theory. This is
		not for an exam.
	</p>
	<p>
		When you define <strong>what to do, </strong>you also need to define <strong
			>when to do.
		</strong>You should allocate at least 1-2 hours per day to learning code. <strong
			>It is much more effective to practice for 1 hour daily than to spend 8 hours only on
			weekends.
		</strong>Find time for this, and if you can't find any, create it by prioritizing tasks.
	</p>
</div>
<h3 id="system" class="mb-6 mt-8">Integrate habits into routines and system</h3>
<div class="">
	<p>
		You have defined the crucial skills in each category to obtain, found 1-2-3 habits that will
		lead you to these skills, and have a list with dozens of them to implement. Now you need <strong
			>to build routines and systems.
		</strong>This is where prioritization comes into play. Starting implementation all at once will
		overwhelm you. <strong
			>Define which habit you need the most and start with that.
		</strong>Integrate it into your life.
	</p>
	<p>
		For coding example, it's 1-2 hours of daily practice. Find or create these 2 hours in your daily
		schedule, whether it be in the morning before work, in the evening after, or during lunchtime.
		It doesn't matter. I plan my scope of work in the evening for the next morning so I don't need
		to spend time thinking about what to do.
	</p>
	<p>
		<strong>Integrate one habit and follow it for a while. </strong>When it feels like a part of
		life, try to add another one from a different category. I recommend <strong
			>not stacking more than 3-4 until they are fully formed.</strong
		>
	</p>
	<p>
		Track the progress of each. Use a notebook or digital tracker that you like, but it's necessary
		to see the progress. <strong>In the habit-building process, consistency is crucial. </strong>The
		tracker is your indicator of how many new habits you can handle. If you are consistent, stick
		with all; if not, get rid of a few, leaving only the first priority, and work on it until it
		becomes part of your daily routine. <strong> then should you pick the next one.</strong>
	</p>
</div>
<h3 id="lifestyle" class="mb-6 mt-8">Create lifestyle from system</h3>
<div>
	<p class="">
		Building sustainable habits is a long process that can take years. <strong
			>The goal here is not just to build a bunch of habits but to convert them into a lifestyle.
		</strong>Only then will you see long-term results. Your goal may be to be fit and energetic even
		in old age. For this reason, you need to find healthy habits that will help you, such as
		exercising and eating healthy. Integrate them into your daily routine and do them consistently <strong
			>until they become a part of your life and identity.</strong
		>
		You are doing it every day <strong>not because you have to, but you want to. </strong>
	</p><p>
		This is how habits become a lifestyle. They are so ingrained in your life that they become an
		integral part of it. Somewhere along the way, you will achieve your dream life. Whether you are
		an athlete, learner, thinker, writer, businessman, programmer, or whatever you have written in
		your dream life manifestation.
	</p>
</div>
