<h2 id="vision" class="mt-16">Vision</h2>
<h3 id="how-to-want" class="mb-6 mt-8">How do you want to life 10 years from now</h3>
<div class="">
	<p>
		<strong
			>You can't live your dream life if you don't even know what your dream life looks like.</strong
		>
	</p>
	<p>
		Imagine your dream life 10 years from now — this is the most powerful technique I've ever tried.
		I've heard about it so many times, but never treated it like a real exercise, hence, I never did
		it before. The essence of the practice is <strong
			>to write down in detail how you see your dream life after 10 years.</strong
		> Don't miss the details. This exercise requires an open mind. It's not about a pragmatic or calculated
		path, <strong>it's about your dream. </strong>Just step aside from your current life situation,
		whatever it is, and write down the life you dream of. If you struggle with a blank page and
		don't have any ideas, start with questions instead. Here are a few examples:
	</p>
	<ul class="mt-4">
		<li>1. Where am <strong>I living?</strong></li>
		<li>2. How do <strong>I look?</strong></li>
		<li>3. What am <strong>I doing for work?</strong></li>
		<li>4. How are <strong>people treating me as a person?</strong></li>
		<li>5. What are <strong>my core principles?</strong></li>
	</ul>
	<p>
		Use these, add your own, divide them into smaller ones, and be more specific on each aspect of
		your life. Then answer all these questions as detailed as possible. It will take time. Spend
		some days creating a draft version in your mind. Then write it down. Use present tense, like you
		already achieved all of this.
	</p>
	<p>
		When you finish, leave some room for future adjustments and additions. <strong
			>This will be your North Star.
		</strong>Not the strict goal but rather your life compass. Keep it accessible, so that you
		always can check what you're working towards. You can adjust it along the way. We change and our
		minds are expanding, so it’s natural to rethink life time to time. <strong
			>Goals are not as important as vision.</strong
		> Taste your dream life for a few days. Feel it. Try it. Live it.
	</p>
</div>
<h3 id="how-to-not" class="mb-6 mt-8">How you do NOT want to live</h3>
<div class="">
	<p>
		Creating a life vision can be both exciting and challenging. When you are energetic and full of
		ideas, this process will flow smoothly and you will clearly see your ideal future. But if you
		are struggling in frustration, facing challenges in life, and don’t know exactly what you want
		to change, <strong>start by considering the opposite.</strong>
	</p>

	<p>
		<strong>How you do NOT want to live?</strong>
		This question is just as important as how you want to live, sometimes even more so. There are countless
		options for a great life, and you may not know which one will be better for you. However, if you
		examine your current life and are unsatisfied with the results, you know what exactly you do NOT
		like. Start with these questions.
	</p>

	<ul class="mt-4">
		<li>1. How you <strong>do NOT want to look?</strong> (fat, untidy, pathetic)</li>
		<li>2. What work you <strong>do NOT want to do? </strong>(9-5, boring, low-paid)</li>
		<li>3. How you <strong>do NOT want to be? </strong>(rude, uncouth, insecure)</li>
	</ul>
	<p>And so on.</p>
	<p>
		Identify <strong>who you do NOT want to be and move in the opposite direction. </strong>Build a
		plan based on the opposite of the words you have listed.
	</p>

	<p>
		<em>Fat</em> → lean, <em>untidy</em> → neat, <em>9-5</em> → entrepreneur, <em>insecure</em> → confident.
		You get the idea.
	</p>

	<p>First, <strong>create an anti-vision, then transform it into your vision.</strong></p>
</div>
<h3 id="funeral" class="mb-6 mt-8">What people will say at your funeral</h3>
<div>
	<p class="">
		Another simple yet powerful technique to find your way is <strong>
			imagine your own funeral.</strong
		> It is an inevitable event that we all will face as mortals. The sooner you realize this, the sooner
		you will begin to contemplate how you are spending (or wasting) your life.
	</p>
	<p>
		Imagine your funeral: all your friends and relatives have gathered. Who will these people be?
		How many close relationships will you have? And most importantly, <strong
			>what will these people say about you?</strong
		> While everyone may say something pleasant, what do you hope to hear most about yourself? What key
		virtues will they mention? These will be your main points to work forward while you are still alive.
	</p>
</div>
<h3 id="ted" class="mb-6 mt-8">What will you talk about at the TED conference after 20 years</h3>
<div class="">
	<p>
		TED conferences are very popular and inspiring shows. They feature numerous stories of
		fulfillment, each one showcasing nearly impossible changes or achievements. These stories
		motivate and give a sense of purpose to the audience. Now, <strong
			>imagine being invited to speak at a future TED conference, 20 years from now.
		</strong>You have plenty of time to prepare. <strong
			>What would you talk about at this conference?
		</strong>What story or achievement would you share to motivate or inspire people?
	</p>
	<p>
		Your topic doesn't have to be as grand as solving world hunger. It could be becoming a great
		writer or a way to build a strong relationship with parents. <strong
			>The key is to choose a story that inspires.
		</strong>Imagine what your story would be about and start crafting it now.
	</p>
</div>
<h3 id="role-model" class="mb-6 mt-8">People you admire. Role model</h3>
<div class="">
	<p class="">
		<strong>You may not know who you want to be if you don’t know what options exist. </strong>You
		can’t become attractive if you don’t know what exactly attracts people. You can’t be successful
		if you don’t know what success is. The same goes for the character. To create one that you like,
		you should know what parts it consists of. Use a role model for this.
	</p><p>
		You are meeting hundreds of people around you: online, offline, in person, from stories, or
		history. <strong>Who do you admire? </strong>And more importantly, <strong>why? </strong>You can
		admire Marcus Aurelius for his stoic philosophy and principles, Keanu Reeves for his humility,
		your colleague for his skills, and your boss for his leadership. It shouldn’t be just one ideal
		person to follow, but a
		<strong>of the best qualities of each. </strong>When you combine them, you obtain ideal and
		unique self.
	</p>
</div>
<h3 id="judgment" class="mb-6 mt-8">If money/judgment doesn’t exist, what will you do</h3>
<div class="">
	<p>
		<strong>Humans are social creatures. </strong>We live in tribes and rely on each other,
		sometimes directly (working with colleagues in a team for a common outcome) and sometimes
		indirectly (assuming someone prepares that burger at McDonald's for you).
	</p>
	<p>
		This also means that <strong
			>we have a hierarchy and depend on social ranks and judgments
		</strong>about us. Sometimes you may want to make burgers at McDonald's, or you find the process
		of sweeping streets in the morning as a meditative process. However, <strong
			>you may not allow yourself to try these things because, in society, these types of work are
			considered low-qualified
		</strong>and only applicable to those who can't find better.
	</p>
	<p>
		Furthermore, you may not even be able to do these tasks for free, as <strong
			>it could harm your reputation.
		</strong>And nobody cares that sweeping is good morning exercise, meditation, and a nice way to
		practice solitude. You can't allow yourself to do these things because <strong
			>you care about what people think about you and how they will judge you.</strong
		>
	</p>
	<p>
		We also depend on money, which is obvious.<strong> But money itself is not evil; </strong>it
		provides comfort in our lives. When you rapidly increase life standards, your income and outcome
		levels become equal, you are dependent on your paycheck. You can't quit jobs, change
		professions, or start businesses because it threatens your survival and that of your loved ones. <strong
			>It steals freedom.</strong
		>
	</p>
	<p>
		These traps can stand in the way of our dream life. If you feel that your life is miserable and
		you will end up unsatisfied in retirement, <strong
			>just imagine a world where judgment and money don't exist.
		</strong>What would you do then?
	</p>
	<p>
		Without these obstacles, you can make life-changing decisions. You can start and succeed in a
		business that everyone around you says not to start, you can make burgers at McDonald's and
		realise that it's not that complicated, then open your own restaurant, or you could leave
		everything behind, join a Buddhist monastery, and live a monk's life.
	</p>
	<p>Just think about it.<strong> Just imagine that money and judgment don't exist.</strong></p>
</div>
<h3 id="path-not-available" class="mb-6 mt-8">
	If your current path is not available, which you will go instead
</h3>
<div class="">
	<p>
		<strong>Our brains dislike changes. </strong>It requires a lot of additional work and energy,
		which it wants to minimize. That's why any life changes are so hard.
	</p>
	<p>
		You would rather buy a McDonald's in a new town for a quick lunch than local food because you
		already know what it is and avoid thinking about a new menu. The same goes for everything else. <strong
			>You would prefer to accept a promotion
		</strong>in your current work position instead of changing professions, even if it is more
		promising <strong>because it’s "safer".</strong>
	</p>
	<p>
		To steer clear of this trap and think broadly about what you want in life, just <strong
			>imagine that your current path is no longer available.
		</strong>Nothing you are used to doing - your job, routines, city of living, lifestyle - is an
		option. You start from a blank page but can't write the same things that were on the previous
		one.
	</p>
	<p>
		What will you do? <strong>Which path do you want to start over? </strong>What would you like to
		change and how?
	</p>
	<p>
		This exercise can help you see what your brain is hiding from you in order to avoid changes and
		extra work. But if you <strong
			>directly prohibit the current path, a new one can be opened.</strong
		>
	</p>
</div>
