---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import '../styles/global.css'
import '@fontsource-variable/montserrat'
import ScrollButton from '../components/scroll-button.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Find Your North Star in Life: A Guide to Purpose & Vision</title>
		<meta
			name="description"
			content="Discover how to find your purpose, create a vision, and build the lifestyle you dream of with this comprehensive guide."
		/>
		<meta
			name="keywords"
			content="astrology, purpose, vision, life guide, self-improvement, personal development"
		/>
		<meta name="author" content="Yevhenii Nadtochii" />
		<meta name="robots" content="index, follow" />
	</head>
	<body>
		<Header />
		<slot />
		<ScrollButton />
		<Footer />
	</body>
</html>
