---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import '../styles/global.css'
import '@fontsource-variable/montserrat'
import ScrollButton from '../components/scroll-button.astro'
const socialImageURL = new URL('/social-card.png', Astro.url).href
const canonicalURL = new URL(Astro.url.pathname, Astro.url)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Find Your North Star in Life: A Guide to Purpose & Vision</title>
		<meta
			name="description"
			content="Discover how to find your purpose, create a vision, and build the lifestyle you dream of with this comprehensive guide."
		/>
		<meta
			name="keywords"
			content="astrology, purpose, vision, life guide, self-improvement, personal development"
		/>
		<meta name="author" content="Yevhenii Nadtochii" />
		<meta name="robots" content="index, follow" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Find Your North Star in Life: A Guide to Purpose & Vision" />
		<meta
			property="og:description"
			content="Discover how to find your purpose, create a vision, and build the lifestyle you dream of with this comprehensive guide."
		/>
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:site_name" content="/" />
		<meta property="og:locale" content="en" />
		<meta property="og:image" content="/social-card.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta
			property="twitter:title"
			content="Find Your North Star in Life: A Guide to Purpose & Vision"
		/>
		<meta
			property="twitter:description"
			content="Discover how to find your purpose, create a vision, and build the lifestyle you dream of with this comprehensive guide."
		/>
		<meta property="twitter:image" content="social-card.png" />
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-8YFT1LE5JR"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-8YFT1LE5JR')
		</script>
	</head>
	<body>
		<Header />
		<slot />
		<ScrollButton />
		<Footer />
	</body>
</html>
